@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

:root {
  --basic-black: #000000;
  --basic-rgba20-black: hsla(0, 0%, 0%, 0.2);
  --basic-white: #ffffff;
  --basic-brown: #756158;
  --basic-grey: #333333;
  --middle-grey: #e6e6e6;
  --light-grey: #e5e5e5;
  --ultralight-grey: #f2f2f2;
  --second-color: #82b3d3;
  --second-rgba20-color: rgba(131, 179, 211, 0.2);
  --second-rgba12-color: rgb(131, 179, 211, 0.12);
  --duplicate-color: #bbd4ea;
  --favorite-color: #7db64f;
  --error-color: #ff5757;

  --text-primary-color: var(--basic-black);
  --text-primary-rgba20-color: var(--basic-rgba20-black);
  --text-second-color: var(--basic-grey);
  --text-on-bg-color: var(--basic-white);

  --bg-primary-color: var(--basic-white);
  --bg-second-color: var(--second-color);
  --bg-second-rgba20-color: var(--second-rgba20-color);
  --bg-second-rgba12-color: var(--second-rgba12-color);
  --bg-duplicate-color: var(--duplicate-color);
  --bg-ultralight-color: var(--ultralight-grey);

  --button-bg-basic: var(--basic-brown);
  --button-bg-second: var(--second-color);
  --button-bg-favorite: var(--favorite-color);

  --border-basic-color: var(--basic-black);
  --border-middle-color: var(--middle-grey);
  --border-light-color: var(--light-grey);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: var(--text-primary-color, #000000);
  background-color: var(--bg-ultralight-color, #f2f2f2);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  display: flex;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;

  background-color: var(--bg-primary-color, #ffffff);
  box-shadow: 0 0 15px var(--basic-rgba20-black);
}

.page-container button,
.page-container input,
.page-container select {
  font-family: inherit;
  font-style: inherit;
}

.page-container a {
  text-decoration: none;
}

.list {
  padding: 0;
  list-style: none;
}

.button {
  padding: 8px 50px;
  color: var(--text-on-bg-color, #ffffff);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--button-bg-basic, #756158);
  border-radius: 4px;
  border: none;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.button-small {
  font-size: 16px;
  line-height: 20px;
}

.button-second {
  background-color: var(--button-bg-second, #82b3d3);
}

.button-favorite {
  background-color: var(--button-bg-favorite, #7db64f);
}

.button-reset {
  background-color: transparent;
}

.section-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.section-description {
  margin: 0;
  color: var(--text-second-color, #333333);
}

.box-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.box-description {
  font-size: 18px;
  line-height: 21px;
  color: var(--text-second-color, #333333);
}

.box-text-on-bg  {
  color: var(--text-on-bg-color, #ffffff);
  background-color: var(--bg-duplicate-color, #bbd4ea);
}

.box-text-on-bg .on-bg  {
  color: var(--text-on-bg-color, #ffffff);
}

/* Шапка */
.page-header {
  padding: 0 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  margin-right: 28px;
  margin-bottom: -5px;
  z-index: 2;
}

.logo-img {
  display: block;
}

.nav {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 710px;
}

.nav .nav-user {
  gap: 0;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.nav-link {
  padding: 12px;
  display: inline-block;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
}

.nav-user .nav-link {
  width: 44px;
  height: 54px;
}

.search-link {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.heart-link {
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.nav-user-item .heart-link {
  font-size: 10px;
  line-height: 10px;
  display: block;
}

.counter {
  margin-left: 50%;
  margin-top: -25%;
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  color: var(--text-on-bg-color, #ffffff);
  border-radius: 50%;
  background-color: var(--button-bg-favorite, #7db64f);
}

.page-header .button {
  padding: 8px;
  width: 160px;
}

/* Основной контент  */
.main-index {
  flex-grow: 1;
  text-align: center;
}

.welcome-section {
  background-image: url("../images/backgrounds/welcome-bg-bottom.svg"),
  image-set(
    url("../images/backgrounds/welcome-bg@2x.avif") type("image/avif") 2x,
    url("../images/backgrounds/welcome-bg@1x.avif") type("image/avif") 1x,
    url("../images/backgrounds/welcome-bg@2x.webp") type("image/webp") 2x,
    url("../images/backgrounds/welcome-bg@1x.webp") type("image/webp") 1x,
    url("../images/backgrounds/welcome-bg@2x.jpg") type("image/jpg") 2x,
    url("../images/backgrounds/welcome-bg@1x.jpg") type("image/jpg") 1x
  );
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
}

/* Преимущества и Инфраструктура */
.advantages,
.infrastructure,
.search,
.newsletter {
  display: flex;
  flex-direction: column;
}

.advantages-header,
.infrastructure-header {
  margin: 0 auto;
  padding: 65px 70px;
  display: flex;
  flex-direction: column;
  width: 795px;
}

.advantages-list,
.infrastructure-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-list .box-title {
  width: 175px;
}

.advantages-list .box-description,
.infrastructure-list .box-description {
  width: 230px;
}

.advantages-list li,
.infrastructure-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 400px;
}

.advantages-list li {
  background-color: var(--bg-second-rgba20-color, rgb(131, 179, 211, 0.2));
}

.advantages-list li:nth-child(even),
.infrastructure-list li:nth-child(odd) {
  background-color: var(--bg-second-rgba12-color, rgb(131, 179, 211, 0.12));
}

.advantages-list li:first-child,
.advantages-list li:last-child  {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--bg-second-color, #82b3d3);
}

.advantages-list .box-wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-list img {
  display: block;
  flex-grow: 1;
}

.box-img-left {
  order: -1;
}

/* Поиск гостиниц */
.search {
  margin: 0 auto;
  padding: 96px 70px;
  max-width: 840px;
}

.search button {
  align-self: center;
}

/* Форма подписки на рассылку */
.newsletter {
  padding: 96px 70px 104px;
}
.newsletter-main-index {
  background-image: image-set(
    url("../images/backgrounds/newsletter-bg.avif") type("image/avif"),
    url("../images/backgrounds/newsletter-bg.webp") type("image/webp"),
    url("../images/backgrounds/newsletter-bg.jpg") type("image/jpg")
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.newsletter .section-description {
  margin: 0 auto;
  max-width: 475px;
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.newsletter-email {
  padding: 14px 20px;
  width: 452px;
  font-size: 18px;
  line-height: 24px;
  background: var(--bg-ultralight-color, #f2f2f2);
  border: none;
  border-radius: 4px 0 0 4px;
}

.newsletter-button {
  border-radius: 0 4px 4px 0;
}

/* Футер */
.page-footer {
  padding: 30px 70px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  display: flex;
}

.footer-social-link {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
}

.footer-contact-phone {
  color: inherit;
  font-size: 40px;
  line-height: 40px;
}

.htmlacademy-logo {
  display: block;
}

/* Страница каталога */
.main-inner {
  flex-grow: 1;
  text-align: center;
}

/* Форма фильтра гостиниц */
.hotels-filter {
  padding: 35px 70px 70px;
  display: flex;
  flex-direction: column;
  background-image: image-set(
    url("../images/backgrounds/hotels-filter-form-bg.avif") type("image/avif"),
    url("../images/backgrounds/hotels-filter-form-bg.webp") type("image/webp"),
    url("../images/backgrounds/hotels-filter-form-bg.jpg") type("image/jpg")
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
}

.breadcrumbs {
  display: flex;

  font-size: 16px;
  line-height: 21px;
  text-align: left;
}

.breadcrumbs-item + .breadcrumbs-item {
  margin-left: 10px;
}

.hotels-filter-form {
  display: flex;
  justify-content: space-between;
}

.hotels-filter-form a {
  color: var(--text-on-bg-color, #ffffff);
}

.hotels-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.hotels-filter-list {
  font-size: 18px;
  line-height: 23px;
}

.hotels-filter-price-flexbox {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--text-primary-color, #000000);
}

.hotels-filter-price-flexbox > span {
  color: var(--text-primary-rgba20-color, rgb(0, 0, 0, 0.2));
}

.hotels-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.hotels-filter-buttons button:not(:last-child) {
  margin-bottom: 32px;
}

/* Шапка каталога гостиниц с настройкой отображения */
.hotels {
  padding: 50px 70px 60px;
}

.hotels-header {
  margin-bottom: 40px;
  display: flex;
}

.hotels-result {
  margin-right: auto;
}

.hotels-result span {
  margin-left: 8px;
}

.display-cards {
  margin-left: 70px;
}

.hotels-select,
.view {
  font-size: 18px;
  line-height: 21px;
  background-color: var(--bg-primary-color, #ffffff);
  border: 2px solid var(--border-light-color, #e5e5e5);
  border-radius: 4px;
}

.hotels-select {
  padding: 12px 20px;
  width: 332px;
  appearance: none;
  color: var(--text-second-color, #333333);
  cursor: pointer;
}

.display-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.view {
  width: 48px;
  height: 48px;
  text-transform: none;
  color: var(--text-primary-color, #000000);
}

.view-current {
  border: 2px solid var(--border-basic-color, #000000);
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.view-table {
  background-image: url("../images/icons/view-table.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

.view-slideshow {
  background-image: url("../images/icons/view-slideshow.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

.view-list {
  background-image: url("../images/icons/view-list.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

/* Каталог гостиниц, отобранных по фильтрам */
.hotels-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hotel-card {
  padding: 20px;
  width: 340px;
  color: var(--text-second-color, #333333);
  border: 1px solid var(--border-middle-color, #e6e6e6);
  border-radius: 4px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-primary-color, #000000);
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price b {
  font-weight: 400;
}

.hotel-card-buttons .button {
  display: inline-block;
  padding: 8px;
  width: 140px;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/* Пагинация */
.pagination {
  display: flex;
  gap: 8px;
}

.pagination .button,
.pagination .pagination-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 60px;
  height: 60px;
}

.pagination-current {
  color: var(--text-primary-color, #000000);
  background-color: var(--bg-ultralight-color, #f2f2f2);
}
