@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

:root {
  --text-primary-color: #000000;
  --text-primary-rgba20-color:  rgba(0, 0, 0, 0.2);
  --text-secondary-color: #333333;
  --text-on-bg-color: #ffffff;
  --text-on-bg-rgba30-color: rgba(255, 255, 255, 0.3);
  --text-error-color: #ff5757;

  --bg-basic-color: #000000;
  --bg-primary-color: #ffffff;
  --bg-primary-rgba30-color: rgba(255, 255, 255, 0.3);
  --bg-secondary-color: #82b3d3;
  --bg-secondary-rgba20-color: rgba(131, 179, 211, 0.2);
  --bg-secondary-rgba12-color: rgba(131, 179, 211, 0.12);
  --bg-duplicate-color: #bbd4ea;
  --bg-ultralight-color: #f2f2f2;
  --bg-transparent: transparent;
  --bg-overlay-color: rgba(242, 242, 242, 0.8);
  --bg-tooltip-color: #333333;
  --bg-tooltip-icon-color: #83b3d3;

  --button-bg-basic: #756157;
  --button-bg-secondary: #82b3d3;
  --button-bg-favorite: #7db64f;
  --button-bg-disabled: #e5e5e5;

  --border-basic-color: #000000;
  --border-rgba30-basic-color: rgba(0, 0, 0, 0.3);
  --border-middle-color: #e6e6e6;
  --border-light-color: #e5e5e5;

  --input-control-color: #3f5e72;
  --input-count-color: rgba(117, 97, 87, 0.3);

  --shadow-rgba20-basic:  rgba(0, 0, 0, 0.2);
  --shadow-rgba15-basic:  rgba(0, 0, 0, 0.15);
  --shadow-rgba25-basic: rgba(0, 0, 0, 0.25);
  --shadow-rgba30-basic: rgba(0, 0, 0, 0.3);
  --shadow-rgba40-basic: rgba(0, 0, 0, 0.40);
  --shadow-middle-color: #e6e6e6;

  --hover-decor-color: #756257;  /* черта в навигации */
  --hover-color: #756157;  /* логотип Academy, телефон, название гостиницы в карточке */
  --hover-button-bg-basic-color: #615048;
  --hover-button-bg-secondary-color: #68a2ca;
  --hover-button-bg-favorite-color: #6c9e42;
  --hover-breadcrumbs-rgba60-color: rgba(255, 255, 255, 0.6);
  --hover-input-color: #e6e6e6;
  --hover-icons-color: #68a2ca;  /* иконки соц сетей */
  --focus-outline-color: #68a2ca;
  --focus-input-outline-color: #83b3d3;
  --focus-button-reset-outline-color: #83b3d3;
  --active-rgba30-color: rgba(117, 97, 87, 0.3); /* логотип Academy, телефон, название гостиницы в карточке */
  --active-bg-basic-rgba30-color: rgba(0, 0, 0, 0.3);
  --active-icons-rgba30-color: rgba(104, 162, 202, 0.3);
  --active-breadcrumbs-rgba30-color: rgba(255, 255, 255, 0.3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: var(--text-primary-color);
  background-color: var(--bg-ultralight-color);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  display: flex;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Сброс стилей списков */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Контейнер для страницы */
.page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  background-color: var(--bg-primary-color);
  box-shadow: 0 0 15px var(--shadow-rgba20-basic);
}

.page-container button,
.page-container input,
.page-container select {
  font-family: inherit;
  font-style: inherit;
}

.page-container a {
  text-decoration: none;
}

/* Кнопки */
.button {
  padding: 8px;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: var(--text-on-bg-color);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--button-bg-basic);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button:hover,
.button:focus {
  background-color: var(--hover-button-bg-basic-color);
}

.button:active {
  color: var(--text-on-bg-rgba30-color);
}

.button:disabled,
.button:disabled:hover {
  background-color: var(--button-bg-disabled);
}

.button-big {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.button-secondary {
  background-color: var(--button-bg-secondary);
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--hover-button-bg-secondary-color);
}

.button-favorite {
  background-color: var(--button-bg-favorite);
}

.button-favorite:hover,
.button-favorite:focus {
  background-color: var(--hover-button-bg-favorite-color);
}

.button-reset {
  background-color: var(--bg-transparent);
}

.button-reset:hover {
  background-color: var(--bg-transparent);
  opacity: 0.6;
}

.button-reset:focus {
  background-color: var(--bg-transparent);
  opacity: 1;
  outline: 3px solid var(--focus-button-reset-outline-color);
  outline-offset: -3px;
}

.button-reset:disabled,
.button-reset:disabled:hover {
  background-color: var(--bg-transparent);
  opacity: 0.1;
  pointer-events: none;
}

/* Общие стили для заголовков и описаний секций */
.section-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.section-description {
  margin: 0;
  color: var(--text-secondary-color);
}

.section-description + .section-description {
  margin-top: 10px;
}

/* Цвет текста заголовков и описаний секций на фоне */
.box-text-on-bg  {
  color: var(--text-on-bg-color);
  background-color: var(--bg-duplicate-color);
}

.box-text-on-bg .section-title,
.box-text-on-bg .section-description,
.box-text-on-bg .box-description {
  color: var(--text-on-bg-color);
}

.box-text-on-bg .box-decor-title::after {
  background-color: var(--text-on-bg-rgba30-color);
}

/* Общие стили для полей ввода */
.field-input {
  padding: 14px 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-primary-color);
  background-color: var(--bg-ultralight-color);
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s, outline 0.3s ease-in-out;
}

.field-input:hover {
  background-color: var(--hover-input-color);
}

.field-input:focus {
  background-color: var(--hover-input-color);
  outline: 3px solid var(--focus-input-outline-color);
  outline-offset: -3px;
}

/* Шапка */
.page-header {
  padding: 0 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  margin-right: 28px;
  margin-bottom: -5px;
  align-self: start;
  z-index: 2;
  transition: opacity 0.3s ease-in-out;
}

.nav-logo:hover {
  opacity: 0.8;
}

.logo-image {
  display: block;
}

.nav {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 710px;
  max-width: 712px;
  z-index: 2;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 8px;
  max-width: 580px;
}

.nav .nav-user {
  gap: 0;
  flex-shrink: 1;
}

.nav-link {
  padding: 20px 12px;
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
  transition: color 0.3s ease-in-out;
}

.nav-link:hover,
.nav-link:focus:not(.nav-link-current) {
  color: var(--hover-color);
}

.nav-link-current.nav-link {
  padding: 20px 12px 0;
  pointer-events: none;
}

.nav-link-current::after {
  content: "";
  display: block;
  margin-top: 20px;
  margin-bottom: -1px;
  height: 2px;
  background-color: var(--hover-decor-color);
}

.nav-user .nav-link {
  min-width: 44px;
  min-height: 54px;
}

.search-link::before,
.heart-link::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--text-primary-color);
  mask-repeat: no-repeat;
  mask-size: 20px 20px;
  mask-position: center;
  transition: background-color 0.3s ease-in-out;
}

.search-link:hover::before,
.heart-link:hover::before,
.search-link:focus::before,
.heart-link:focus::before {
  background-color: var(--hover-color);
}

.search-link::before {
  mask-image: url("../images/icons/search.svg");
}

.heart-link::before {
  mask-image: url("../images/icons/heart.svg");
}

.heart-link {
  position: relative;
}

.counter {
  position: absolute;
  top: 15%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: var(--text-on-bg-color);
  border-radius: 50%;
  background-color: var(--button-bg-favorite);
}

.page-header .button {
  width: 160px;
}

/* Основной контент  */
.main-index {
  flex-grow: 1;
  text-align: center;
}

.welcome-section {
  padding: 51px 70px 82px;

  background-image: url("../images/backgrounds/welcome-bg-bottom.svg"),
  image-set(
    url("../images/backgrounds/welcome-bg@2x.avif") type("image/avif") 2x,
    url("../images/backgrounds/welcome-bg@1x.avif") type("image/avif") 1x,
    url("../images/backgrounds/welcome-bg@2x.webp") type("image/webp") 2x,
    url("../images/backgrounds/welcome-bg@1x.webp") type("image/webp") 1x,
    url("../images/backgrounds/welcome-bg@2x.jpg") type("image/jpg") 2x,
    url("../images/backgrounds/welcome-bg@1x.jpg") type("image/jpg") 1x
  );
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left bottom -1px, left top;
}

/* Преимущества и Инфраструктура */
.advantages,
.infrastructure {
  align-items: center;
}

.advantages-header,
.infrastructure-header {
  margin: 0 auto 90px;
  padding: 65px 70px 0;
  max-width: 795px;
}

.infrastructure-header {
  margin-bottom: 64px;
}

.advantages-list,
.infrastructure-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
/* Блок */
.box:not(.box-with-image) {
  padding: 81px 85px;
  flex-grow: 1;
  width: 400px;
  min-height: 385px;
  align-content: center;
}

.box-with-image  {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box-image img {
  display: block;
}

.box-image-left {
  order: -1;
}

.box-wrap {
  padding: 102px 85px;
  width: 400px;
}

.box-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.box-decor-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto 0;
  background-color: var(--border-rgba30-basic-color);
}

.box-description {
  margin: 0;
  flex-grow: 1;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-secondary-color);
}

.box-description + .box-description {
  margin-top: 8px;
}

.advantages-list .box-title {
  max-width: 175px;
}

.infrastructure-list .box::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.home-box::before {
  background-image: url("../images/icons/home.svg");
}

.burger-box::before {
  background-image: url("../images/icons/burger.svg");
}

.gift-box::before {
  background-image: url("../images/icons/gift.svg");
}

.advantages-list .box {
  background-color: var(--bg-secondary-rgba20-color);
}

.advantages-list .box:nth-child(even),
.infrastructure-list .box:nth-child(odd) {
  background-color: var(--bg-secondary-rgba12-color);
}

.advantages-list .box-with-image  {
  background-color: var(--bg-secondary-color);
}

/* Поиск гостиниц */
.search {
  margin: 0 auto 96px;
  padding: 96px 70px 0;
  max-width: 840px;
  align-items: center;
}

.search button {
  margin-top: 54px;
  align-self: center;
}

/* Форма подписки на рассылку */
.newsletter {
  padding: 96px 70px 104px;
  align-items: center;
}

.newsletter-main-index {
  background-image: image-set(
    url("../images/backgrounds/newsletter-bg.avif") type("image/avif"),
    url("../images/backgrounds/newsletter-bg.webp") type("image/webp"),
    url("../images/backgrounds/newsletter-bg.jpg") type("image/jpg")
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.newsletter .section-title,
.newsletter .section-description {
  margin-left: auto;
  margin-right: auto;
  max-width: 475px;
}

.newsletter-form {
  margin-top: 54px;
  display: flex;
  justify-content: center;
}

.newsletter-email {
  width: 452px;
  font-weight: 400;
  border-radius: 4px 0 0 4px;
}

.newsletter-button {
  border-radius: 0 4px 4px 0;
}

/* Футер */
.page-footer {
  --width-social-link: 48px;
  --row-size: 3;
  padding: 30px 70px 40px;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  align-items: center;
}

.footer-social-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: calc(var(--row-size) * var(--width-social-link));
  flex-shrink: 0;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: var(--width-social-link);
  min-height: 40px;
  color: inherit;
}

.footer-social-link::before {
  content: "";
  display: block;
  width: var(--width-social-link);
  height: 40px;
  background-color: var(--bg-secondary-color);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: var(--width-social-link) 40px;
  transition: background-color 0.3s ease-in-out;
}

.footer-social-link:hover::before,
.footer-social-link:focus::before {
  background-color: var(--hover-icons-color);
}

.footer-social-link:active::before {
  background-color: var(--active-icons-rgba30-color);
}

.vkontakte::before {
  mask-image: url("../images/icons/social-vk.svg");
}

.telegram::before {
  mask-image: url("../images/icons/social-telegram.svg");
}

.youtube::before {
  mask-image: url("../images/icons/social-youtube.svg");
}

.footer-contact-phone {
  color: inherit;
  font-size: 40px;
  line-height: 40px;
  transition: color 0.3s ease-in-out;
}

.footer-contact-phone:hover,
.footer-contact-phone:focus {
  color: var(--hover-color);
}

.footer-contact-phone:active {
  color: var(--active-rgba30-color);
}

.htmlacademy-link {
  flex-shrink: 0;
  min-width: 115px;
  min-height: 34px;
}

.htmlacademy-link::before {
  content: "";
  display: block;
  width: 115px;
  height: 34px;
  background-color: var(--text-primary-color);
  mask-image: url("../images/logo-html-academy.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 115px 34px;
  transition: background-color 0.3s ease-in-out;
}

.htmlacademy-link:hover::before,
.htmlacademy-link:focus::before {
  background-color: var(--hover-color);
}

.htmlacademy-link:active::before {
  background-color: var(--active-rgba30-color);
}

/* Страница каталога */
.main-inner {
  flex-grow: 1;
  text-align: center;
}

/* Шапка фильтра гостиниц */
.hotels-filter {
  padding: 35px 70px 70px;
  background-image: image-set(
    url("../images/backgrounds/hotels-filter-form-bg.avif") type("image/avif"),
    url("../images/backgrounds/hotels-filter-form-bg.webp") type("image/webp"),
    url("../images/backgrounds/hotels-filter-form-bg.jpg") type("image/jpg")
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
}
/* Хлебные крошки */
.breadcrumbs {
  margin: 0 0 40px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  text-align: left;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 10px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  width: 8px;
  height: 20px;
  background-image: url("../images/icons/arrow-white.svg");
  background-repeat: no-repeat;
  background-size: 8px 20px;
  background-position: center bottom -1px;
}

.breadcrumbs-link:not([aria-current]) {
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.breadcrumbs-link {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  color: inherit;
}

.breadcrumbs-link span {
  padding-left: 10px;
}

.breadcrumbs-link-home::before {
  margin-left: 2px;
  content: "";
  width: 13px;
  height: 20px;
  background-color: var(--bg-primary-color);
  mask-image: url("../images/icons/breadcrumbs-home.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 13px 20px;
  transition: background-color 0.3s ease-in-out;
}

.breadcrumbs-link:not([aria-current]):hover {
  color: var(--hover-breadcrumbs-rgba60-color);
}

.breadcrumbs-link-home:hover::before {
  background-color: var(--hover-breadcrumbs-rgba60-color);
}

.breadcrumbs-link:not([aria-current]):active {
  color: var(--active-breadcrumbs-rgba30-color);
}

.breadcrumbs-link-home:active::before {
  background-color: var(--active-breadcrumbs-rgba30-color);
}

/* Форма фильтра гостиниц */
.hotels-filter-form {
  display: grid;
  grid-template-columns: repeat(2, 157px) 1fr 191px;
  column-gap: 70px;
  row-gap: 8px;
  text-align: start;
}

.hotels-filter-group {
  padding: 0;
  border: none;
}

.hotels-filter-form a {
  color: var(--text-on-bg-color);
}

.hotels-filter-title {
  margin-bottom: 32px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.hotels-filter-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
  line-height: 23px;
}

.hotels-filter-control {
  display: flex;
  align-items: center;
  column-gap: 16px;
  cursor: pointer;
  transition: opacity 0.3s;
}

/* чекбоксы, радиокнопки */
.hotels-filter-control-input {
  appearance: none;
  margin: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: var(--bg-primary-color);
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s, outline 0.3s ease-in-out;
}

.hotels-filter-control-input[type="radio"] {
  border-radius: 50%;
}

.hotels-filter-control-input:checked {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
}

.hotels-filter-control-input[type="checkbox"]:checked {
  background-image: url("../images/icons/checkbox-checked.svg");
  background-size: 12px 10px;
}

.hotels-filter-control-input[type="radio"]:checked {
  background-image: url("../images/icons/radio-checked.svg");
}

.hotels-filter-control:hover {
  opacity: 0.6;
}

.hotels-filter-control-input:focus {
  outline: 3px solid var(--focus-input-outline-color);
  outline-offset: 0;
}

.hotels-filter-control:active {
  outline: none;
  opacity: 0.3;
}

.hotels-filter-control-input:disabled {
   opacity: 0.1;
   pointer-events: none;
}

/* fieldset с range-слайдером диапазона стоимости гостиниц */
.hotels-filter-group-free {
  justify-self: end;
}

.hotels-filter-price {
  display: grid;
  grid-template-columns: 144px 144px;
  row-gap: 36px;
}

.input-wrap {
  position: relative;
}

.from,
.to {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-primary-rgba20-color);
  transform: translateY(-50%);
}

.hotels-filter-price-from,
.hotels-filter-price-to  {
  padding: 12px 22px;
  width: 143px;
  appearance: textfield;    /* отключить стрелки в Firefox  */
}

.hotels-filter-price-from {
  border-radius: 4px 0 0 4px;
}

.hotels-filter-price-to {
  margin-left: 2px;
  border-radius: 0 4px 4px 0;
}
/* отключить стрелки в других браузерах  */
.hotels-filter-price-from::-webkit-outer-spin-button,
.hotels-filter-price-from::-webkit-inner-spin-button,
.hotels-filter-price-to::-webkit-outer-spin-button,
.hotels-filter-price-to::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.hotels-filter-price-from:focus,
.hotels-filter-price-to:focus {
  outline-offset: 0;
}

/* ползунки */
.hotels-filter-range {
  position: relative;
  width: 288px;
  height: 4px;
  background-color: var( --bg-primary-rgba30-color);
}

.hotels-filter-range-bar {
  position: absolute;
  height: 4px;
  background-color: var(--bg-primary-color);
  z-index: 1;
}

.hotels-filter-range-handle {
  position: absolute;
  top: -8px;
  margin: 0;
  appearance: none;
  width: 20px;
  height: 20px;
  accent-color: var(--bg-primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s, outline 0.3s ease-in-out;
}

.hotels-filter-range-handle::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.hotels-filter-range-handle::-moz-range-thumb {
  background-color: var(--bg-primary-color);
  border: none;
}

.hotels-filter-range-handle-min {
  left: -10px;
}

.hotels-filter-range-handle-max {
  right: -10px;
}

.hotels-filter-range-handle:hover {
  box-shadow: 0 4px 10px var(--shadow-rgba25-basic);
}

.hotels-filter-range-handle:focus {
  box-shadow: 0 4px 10px var(--shadow-rgba25-basic);
  outline: 3px solid var(--focus-input-outline-color);
}

.hotels-filter-range-bar .hotels-filter-range-handle:active {
  box-shadow: 0 7px 15px var(--shadow-rgba40-basic);
  outline: 2px solid var(--focus-input-outline-color);
}

/* Кнопки фильтра */
.hotels-filter-buttons {
  padding-top: 56px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

/* Шапка каталога гостиниц с настройкой отображения */
.hotels {
  padding: 50px 70px 0;
}

.hotels-header {
  margin-bottom: 40px;
  display: flex;
  align-items: start;
  column-gap: 70px;
}

.hotels-result {
  margin: 0;
  margin-right: auto;
  text-align: start;
}

.hotels-result span {
  margin-left: 8px;
}

.hotels-select,
.view {
  font-size: 18px;
  line-height: 21px;
  background-color: var(--bg-primary-color);
  border: 2px solid var(--border-light-color);
  border-radius: 4px;
  transition: border-color 0.3s;
}

.hotels-select {
  padding: 12px 42px 12px 20px;
  flex-shrink: 0;
  width: 332px;
  color: var(--text-secondary-color);
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: 12px auto;
  background-position: right 17px center;
  appearance: none;
  cursor: pointer;
}

.display-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 160px;
  flex-shrink: 0;
}

.view {
  display: block;
  min-width: 48px;
  min-height: 48px;
  text-transform: none;
  color: var(--text-primary-color);
}

.view-current {
  border-color: var(--border-basic-color);
  pointer-events: none;
}

.view:hover,
.view:active {
  border-color: var(--border-basic-color);
}

.hotels-select:hover,
.hotels-select:focus,
.view:focus {
  outline: 2px solid var(--focus-outline-color);
  outline-offset: -2px;
}

.hotels-select:disabled,
.hotels-select:disabled:hover {
  border-color: var(--border-basic-color);
  opacity: 0.3;
  pointer-events: none;
}

.view-table {
  background-image: url("../images/icons/view-table.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

.view-slideshow {
  background-image: url("../images/icons/view-slideshow.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

.view-list {
  background-image: url("../images/icons/view-list.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

/* Каталог гостиниц, отобранных по фильтрам */
.hotels-list {
  margin: 0;
  margin-bottom: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  box-shadow: 0 1px 0 0 var(--shadow-middle-color);
}

.hotel-card {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  text-align: start;
  color: var(--text-secondary-color);
  box-shadow: 0 0 0 1px var(--shadow-middle-color);
  border-radius: 4px;
}

.hotel-card-link {
  grid-column: 1 / -1;
  transition: opacity 0.3s;
}

.hotel-card-link-title {
  grid-row: 2 / 3;
  transition: color 0.3s;
}

.hotel-card-link-title:hover .card-title {
  color: var(--hover-color);
}

.hotel-card-link-title:active .card-title {
  color: var(--active-rgba30-color);
}

.hotel-card-link-image {
  font-size: 0;
  line-height: 0;
}

.hotel-card-link-image:hover {
  opacity: 0.8;
}

.card-title,
.hotel-card-type,
.hotel-card-price {
  margin: 0;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-primary-color);
}

.hotel-card-type,
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  text-align: end;
}

.hotel-card-price b {
  font-weight: inherit;
}

.hotel-card .button {
  align-self: center;
}

.rating {
  margin: 0;
  font-size: 24px;     /* 1em */
  background-image: url("../images/icons/star.svg");
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 1em auto;
}

.five-stars {
  width: 5em;
}

.four-stars {
  width: 4em;
}

.three-stars {
  width: 3em;
}

.two-stars {
  width: 2em;
}

.one-star {
  width: 1em;
}

.rating-result {
  margin: 0;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: var(--bg-ultralight-color);
  border-radius: 4px;
}

/* Пагинация */
.pagination {
  margin: 0 0 60px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link,
.pagination-more {
  padding: 12px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-link {
  font-weight: 700;
  line-height: 36px;
  color: var(--text-on-bg-color);
  background-color: var(--button-bg-secondary);
  transition: background-color 0.3s;
}

.pagination-more {
  font-weight: 400;
  line-height: 26px;
  color: var(--text-primary-color);
  background-color: var(--bg-transparent);
}

.pagination-current {
  color: var(--text-primary-color);
  background-color: var(--bg-ultralight-color);
  pointer-events: none;
}

.pagination-link:not([aria-current="page"]):hover,
.pagination-link:not([aria-current="page"]):focus {
  background-color: var(--hover-button-bg-secondary-color);
}

.pagination-link:active {
  color: var(--text-on-bg-rgba30-color);
}

/* Модальное окно "Поиск гостиницы в Седоне" */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var( --bg-overlay-color);
  z-index: 2;
}

.modal-container-close {
  /* display: none; */
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background: var(--bg-primary-color);
  box-shadow: 0 25px 50px var( --shadow-rgba15-basic);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background-color: var(--bg-ultralight-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button::before,
.modal-close-button::after {
  content: "";
  width: 18px;
  height: 2px;
  background-color: var(--bg-basic-color);
}

.modal-close-button::before {
  transform: translateX(50%) rotate(45deg);
}

.modal-close-button::after {
  transform: translateX(-50%) rotate(-45deg);
}

.modal-close-button:hover {
  background-color: var(--hover-input-color);
}

.modal-close-button:focus {
  background-color: var(--hover-input-color);
  outline: 3px solid var(--focus-input-outline-color);
}

.modal-close-button:active {
  outline: none;
  background-color: var(--active-bg-basic-rgba30-color);
  opacity: 0.3;
}

.modal-content {
  width: 577px;
}

.modal-title {
  margin-bottom: 64px;
  padding-right: 52px;
}

.search-form {
  display: grid;
  grid-template-columns: 121px 110px 1fr 132px 110px;
  grid-template-rows: repeat(6, minmax(48px, auto));
  column-gap: 16px;
  align-items: center;
}

.hotels-search-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.hotels-search-input-date {
  grid-column-start: 2;
  grid-column-end: -1;
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-size: 16px 15px;
  background-position: 95% 50%;
}

.message {
  padding-top: 4px;
  padding-left: 20px;
  grid-column-start: 2;
  grid-column-end: -1;
  align-self: start;
  font-size: 16px;
  line-height: 21px;
  color: var(--text-secondary-color);
  opacity: 0;
}

.error-message {
  color: var(--text-error-color);
}

.valid-message,
.invalid-message {
  opacity: 1;
}

.adults-input {
  position: relative;
}

.children-input {
  position: relative;
}

.decrease,
.increase {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 14px 10px;
  width: 30px;
  height: calc(100% - 6px);
  border: none;
  background-color: var(--bg-ultralight-color);
}
.decrease {
  left: 3px;
}

.increase {
  right: 3px;
}

.decrease::before,
.increase::before,
.increase::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background-color: var(--input-count-color);
  transition: background-color 0.3s;
}

.increase::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.decrease:hover::before,
.increase:hover::before,
.increase:hover::after,
.decrease:focus::before,
.increase:focus::before,
.increase:focus::after  {
  background-color: var(--bg-basic-color);
}

.decrease:focus,
.increase:focus,
.increase:focus {
  outline: 3px solid var(--focus-input-outline-color);
  outline-offset: 0;
}

.decrease:active,
.increase:active,
.increase:active {
  outline: none;
}

.decrease:active::before,
.increase:active::before,
.increase:active::after {
  background-color: var(--input-count-color);
}

.hotels-search-input-count {
  text-align: center;
  width: 100%;
  appearance: textfield;    /* отключить стрелки в Firefox  */
}

/* отключить стрелки в других браузерах  */
.hotels-search-input-count::-webkit-outer-spin-button,
.hotels-search-input-count::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.hotels-search-label-tooltip {
  display: flex;
  align-items: center;
  grid-column-start: 4;
  grid-column-end: 5;
}

.tooltip {
  position: relative;
  margin-left: 10px;
}

.tooltip-toggle {
  padding: 0;
  margin: 0;
  display: block;
  width: 26px;
  height: 26px;
  background-color: var(--bg-tooltip-icon-color);
  background-image: url("../images/icons/tooltip-icon.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
  border-radius: 50%;
}

.tooltip-text {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 18px 18px 22px;
  width: 256px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  color: var(--text-on-bg-color);
  background-color: var(--bg-tooltip-color);
  box-shadow: 0 15px 30px var(--shadow-rgba30-basic);
  border-radius: 10px;
  z-index: 1;
  display: none;
}

.tooltip-text::before {
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid var(--bg-tooltip-color);
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.hotels-search-button {
  padding: 18px;
  grid-column: span 5;
  grid-row-start: 7;
  line-height: 24px;
}
