@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

:root {
  --text-primary-color: #000000;
  --text-primary-rgba20-color:  rgba(0, 0, 0, 0.2);
  --text-secondary-color: #333333;
  --text-on-bg-color: #ffffff;
  --text-on-bg-rgba30-color: rgba(255, 255, 255, 0.3);
  --text-error-color: #ff5757;

  --bg-primary-color: #ffffff;
  --bg-secondary-color: #82b3d3;
  --bg-secondary-rgba20-color: rgba(131, 179, 211, 0.2);
  --bg-secondary-rgba12-color: rgba(131, 179, 211, 0.12);
  --bg-duplicate-color: #bbd4ea;
  --bg-ultralight-color: #f2f2f2;
  --bg-transparent: transparent;

  --button-bg-basic: #756157;
  --button-bg-secondary: #82b3d3;
  --button-bg-favorite: #7db64f;
  --button-bg-disabled: #e5e5e5;

  --border-basic-color: #000000;
  --border-rgba30-basic-color: rgba(0, 0, 0, 0.3);
  --border-middle-color: #e6e6e6;
  --border-light-color: #e5e5e5;

  --shadow-rgba20-basic:  rgba(0, 0, 0, 0.2);
  --shadow-rgba25-basic: rgba(0, 0, 0, 0.25);
  --shadow-middle-color: #e6e6e6;

  --hover-decor-color: #756257;  /* черта в навигации */
  --hover-color: #756157;  /* логотип Academy, телефон */
  --active-rgba30-color: rgba(117, 97, 87, 0.3);
  --hover-button-bg-basic-color: #615048;
  --hover-button-bg-secondary-color: #68a2ca;
  --hover-button-bg-favorite-color: #6c9e42;
  --focus-outline-color: #68a2ca;
  --focus-input-outline-color: #83b3d3;
  --focus-button-reset-outline-color: #83b3d3;
  --hover-icons-color: #68a2ca;  /* иконки соц сетей */
  --active-icons-rgba30-color: rgba(104, 162, 202, 0.3);
  --hover-breadcrumbs-rgba60-color: rgba(255, 255, 255, 0.6);
  --active-breadcrumbs-rgba30-color: rgba(255, 255, 255, 0.3);
  --hover-input-color: #e6e6e6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: var(--text-primary-color);
  background-color: var(--bg-ultralight-color);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  display: flex;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Сброс стилизации списков */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Контейнер для страницы */
.page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  background-color: var(--bg-primary-color);
  box-shadow: 0 0 15px var(--shadow-rgba20-basic);
}

.page-container button,
.page-container input,
.page-container select {
  font-family: inherit;
  font-style: inherit;
}

.page-container a {
  text-decoration: none;
}

/* Кнопки */
.button {
  padding: 8px 50px;
  display: inline-block;
  color: var(--text-on-bg-color);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--button-bg-basic);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--hover-button-bg-basic-color);
}

.button:active {
  color: var(--text-on-bg-rgba30-color);
}

.button:disabled,
.button:disabled:hover {
  background-color: var(--button-bg-disabled);
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.button-small {
  font-size: 16px;
  line-height: 20px;
}

.button-secondary {
  background-color: var(--button-bg-secondary);
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--hover-button-bg-secondary-color);
}

.button-favorite {
  background-color: var(--button-bg-favorite);
}

.button-favorite:hover,
.button-favorite:focus {
  background-color: var(--hover-button-bg-favorite-color);
}

.button-reset {
  background-color: var(--bg-transparent);
}

.button-reset:hover {
  background-color: var(--bg-transparent);
  opacity: 0.6;
}

.button-reset:focus {
  background-color: var(--bg-transparent);
  opacity: 1;
  outline: 3px solid var(--focus-button-reset-outline-color);
  outline-offset: -3px;
}

.button-reset:disabled,
.button-reset:disabled:hover {
  background-color: var(--bg-transparent);
  opacity: 0.1;
  pointer-events: none;
}

/* Общие стили для заголовков и описаний секций */
.section-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.section-description {
  margin: 0;
  color: var(--text-secondary-color);
}

.section-description + .section-description {
  margin-top: 10px;
}

/* Цвет текста заголовков и описаний секций на фоне */
.box-text-on-bg  {
  color: var(--text-on-bg-color);
  background-color: var(--bg-duplicate-color);
}

.box-text-on-bg .section-title,
.box-text-on-bg .section-description,
.box-text-on-bg .box-description {
  color: var(--text-on-bg-color);
}

.box-text-on-bg .box-decor-title::after {
  background-color: var(--text-on-bg-rgba30-color);
}

/* Шапка */
.page-header {
  padding: 0 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  margin-right: 28px;
  margin-bottom: -5px;
  align-self: start;
  z-index: 2;
}

.nav-logo:hover {
  opacity: 0.8;
}

.logo-image {
  display: block;
}

.nav {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 710px;
  max-width: 712px;
  z-index: 2;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 8px;
  max-width: 580px;
}

.nav .nav-user {
  gap: 0;
  flex-shrink: 1;
}

.nav-link {
  padding: 20px 12px;
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: inherit;
}

.nav-link:hover,
.nav-link:focus:not(.nav-link-current) {
  color: var(--hover-color);
}

.nav-link-current.nav-link {
  padding: 20px 12px 0;
  pointer-events: none;
}

.nav-link-current::after {
  content: "";
  display: block;
  margin-top: 20px;
  margin-bottom: -1px;
  height: 2px;
  background-color: var(--hover-decor-color);
}

.nav-user .nav-link {
  min-width: 44px;
  min-height: 54px;
}

.search-link::before,
.heart-link::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--text-primary-color);
  mask-repeat: no-repeat;
  mask-size: 20px 20px;
  mask-position: center;
}

.search-link:hover::before,
.heart-link:hover::before,
.search-link:focus::before,
.heart-link:focus::before {
  background-color: var(--hover-color);
}

.search-link::before {
  mask-image: url("../images/icons/search.svg");
}

.heart-link::before {
  mask-image: url("../images/icons/heart.svg");
}

.heart-link {
  position: relative;
}

.counter {
  position: absolute;
  top: 15%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: var(--text-on-bg-color);
  border-radius: 50%;
  background-color: var(--button-bg-favorite);
}

.page-header .button {
  padding: 8px;
  width: 160px;
}

/* Основной контент  */
.main-index {
  flex-grow: 1;
  text-align: center;
}

.welcome-section {
  padding: 51px 70px 82px;

  background-image: url("../images/backgrounds/welcome-bg-bottom.svg"),
  image-set(
    url("../images/backgrounds/welcome-bg@2x.avif") type("image/avif") 2x,
    url("../images/backgrounds/welcome-bg@1x.avif") type("image/avif") 1x,
    url("../images/backgrounds/welcome-bg@2x.webp") type("image/webp") 2x,
    url("../images/backgrounds/welcome-bg@1x.webp") type("image/webp") 1x,
    url("../images/backgrounds/welcome-bg@2x.jpg") type("image/jpg") 2x,
    url("../images/backgrounds/welcome-bg@1x.jpg") type("image/jpg") 1x
  );
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: left bottom -1px, left top;
}

/* Преимущества и Инфраструктура */
.advantages,
.infrastructure {
  align-items: center;
}

.advantages-header,
.infrastructure-header {
  margin: 0 auto 90px;
  padding: 65px 70px 0;
  max-width: 795px;
}

.infrastructure-header {
  margin-bottom: 64px;
}

.advantages-list,
.infrastructure-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
/* Блок */
.box:not(.box-with-image) {
  padding: 81px 85px;
  flex-grow: 1;
  width: 400px;
  min-height: 385px;
  align-content: center;
}

.box-with-image  {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box-image img {
  display: block;
}

.box-image-left {
  order: -1;
}

.box-wrap {
  padding: 102px 85px;
  width: 400px;
}

.box-title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.box-decor-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto 0;
  background-color: var(--border-rgba30-basic-color);
}

.box-description {
  margin: 0;
  flex-grow: 1;
  font-size: 18px;
  line-height: 21px;
  color: var(--text-secondary-color);
}

.box-description + .box-description {
  margin-top: 8px;
}

.advantages-list .box-title {
  max-width: 175px;
}

.infrastructure-list .box::before {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.home-box::before {
  background-image: url("../images/icons/home.svg");
}

.burger-box::before {
  background-image: url("../images/icons/burger.svg");
}

.gift-box::before {
  background-image: url("../images/icons/gift.svg");
}

.advantages-list .box {
  background-color: var(--bg-secondary-rgba20-color);
}

.advantages-list .box:nth-child(even),
.infrastructure-list .box:nth-child(odd) {
  background-color: var(--bg-secondary-rgba12-color);
}

.advantages-list .box-with-image  {
  background-color: var(--bg-secondary-color);
}

/* Поиск гостиниц */
.search {
  margin: 0 auto 96px;
  padding: 96px 70px 0;
  max-width: 840px;
  align-items: center;
}

.search button {
  margin-top: 54px;
  align-self: center;
}

/* Форма подписки на рассылку */
.newsletter {
  padding: 96px 70px 104px;
  align-items: center;
}

.newsletter-main-index {
  background-image: image-set(
    url("../images/backgrounds/newsletter-bg.avif") type("image/avif"),
    url("../images/backgrounds/newsletter-bg.webp") type("image/webp"),
    url("../images/backgrounds/newsletter-bg.jpg") type("image/jpg")
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.newsletter .section-title,
.newsletter .section-description {
  margin-left: auto;
  margin-right: auto;
  max-width: 475px;
}

.newsletter-form {
  margin-top: 54px;
  display: flex;
  justify-content: center;
}

.newsletter-email {
  padding: 14px 20px;
  width: 452px;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--bg-ultralight-color);
  border: none;
  border-radius: 4px 0 0 4px;
}

.newsletter-email:hover {
  background-color: var(--hover-input-color);
}

.newsletter-email:focus {
  background-color: var(--hover-input-color);
  outline: 3px solid var(--focus-input-outline-color);
  outline-offset: -3px;
}

.newsletter-button {
  border-radius: 0 4px 4px 0;
}

/* Футер */
.page-footer {
  --width-social-link: 48px;
  --row-size: 3;
  padding: 30px 70px 40px;
  display: flex;
  justify-content: space-between;
  column-gap: 40px;
  align-items: center;
}

.footer-social-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: calc(var(--row-size) * var(--width-social-link));
  flex-shrink: 0;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: var(--width-social-link);
  min-height: 40px;
  color: inherit;
}

.footer-social-link::before {
  content: "";
  display: block;
  width: var(--width-social-link);
  height: 40px;
  background-color: var(--bg-secondary-color);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: var(--width-social-link) 40px;
}

.footer-social-link:hover::before,
.footer-social-link:focus::before {
  background-color: var(--hover-icons-color);
}

.footer-social-link:active::before {
  background-color: var(--active-icons-rgba30-color);
}

.vkontakte::before {
  mask-image: url("../images/icons/social-vk.svg");
}

.telegram::before {
  mask-image: url("../images/icons/social-telegram.svg");
}

.youtube::before {
  mask-image: url("../images/icons/social-youtube.svg");
}

.footer-contact-phone {
  color: inherit;
  font-size: 40px;
  line-height: 40px;
}

.footer-contact-phone:hover,
.footer-contact-phone:focus {
  color: var(--hover-color);
}

.footer-contact-phone:active {
  color: var(--active-rgba30-color);
}

.htmlacademy-link {
  flex-shrink: 0;
  min-width: 115px;
  min-height: 34px;
}

.htmlacademy-link::before {
  content: "";
  display: block;
  width: 115px;
  height: 34px;
  background-color: var(--text-primary-color);
  mask-image: url("../images/logo-html-academy.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 115px 34px;
}

.htmlacademy-link:hover::before,
.htmlacademy-link:focus::before {
  background-color: var(--hover-color);
}

.htmlacademy-link:active::before {
  background-color: var(--active-rgba30-color);
}

/* Страница каталога */
.main-inner {
  flex-grow: 1;
  text-align: center;
}

/* Шапка фильтра гостиниц */
.hotels-filter {
  padding: 35px 70px 70px;
  background-image: image-set(
    url("../images/backgrounds/hotels-filter-form-bg.avif") type("image/avif"),
    url("../images/backgrounds/hotels-filter-form-bg.webp") type("image/webp"),
    url("../images/backgrounds/hotels-filter-form-bg.jpg") type("image/jpg")
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
}
/* Хлебные крошки */
.breadcrumbs {
  margin: 0 0 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: left;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 10px;
  padding-right: 15px;
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 8px;
  height: 20px;
  background-image: url("../images/icons/arrow-white.svg");
  background-repeat: no-repeat;
  background-size: 8px 15px;
}

.breadcrumbs-link:not([aria-current]) {
  cursor: pointer;
}

.breadcrumbs-link-home::before {
  content: "";
  display: block;
  width: 20px;
  height: 15px;
  background-color: var(--bg-primary-color);
  mask-image: url("../images/icons/breadcrumbs-home.svg");
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 13px 15px;
}

.breadcrumbs-link-home:hover::before {
  background-color: var(--hover-breadcrumbs-rgba60-color);
}

.breadcrumbs-link-home:active::before {
  background-color: var(--hover-breadcrumbs-rgba30-color);
}

/* Форма фильтра гостиниц */
.hotels-filter-form {
  display: grid;
  grid-template-columns: repeat(2, 157px) 1fr 191px;
  column-gap: 70px;
  row-gap: 8px;
  text-align: start;
}

.hotels-filter-group {
  padding: 0;
  border: none;
}

.hotels-filter-form a {
  color: var(--text-on-bg-color);
}

.hotels-filter-title {
  margin-bottom: 32px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.hotels-filter-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 18px;
  line-height: 23px;
}

.hotels-filter-group-free {
  justify-self: end;
}

.hotels-filter-price {
  display: grid;
  grid-template-columns: 143px 143px;
  row-gap: 36px;
}

.input-wrap {
  position: relative;
}

.from,
.to {
  position: absolute;
  top: 10px;
  right: 22px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-primary-rgba20-color);
}

.hotels-filter-range-input {
  padding: 12px 22px;
  width: 143px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: var(--text-primary-color);
  border: none;
}

.hotels-filter-range-input-from {
  border-radius: 4px 0 0 4px;
}

.hotels-filter-range-input-to {
  margin-left: 2px;
  border-radius: 0 4px 4px 0;
}

.hotels-filter-range-handle {
  margin: 0;
  height: 20px;
  accent-color: var(--bg-primary-color);
  cursor: pointer;
}

/* Кнопки фильтра */
.hotels-filter-buttons {
  padding-top: 56px;
}

.hotels-filter-buttons button:not(:last-child) {
  margin-bottom: 32px;
}

.hotels-filter-buttons .button-reset {
  margin: 0 auto;
  display: block;
}

/* Шапка каталога гостиниц с настройкой отображения */
.hotels {
  padding: 50px 70px 0;
}

.hotels-header {
  margin-bottom: 40px;
  display: flex;
  align-items: start;
  column-gap: 70px;
}

.hotels-result {
  margin: 0;
  margin-right: auto;
  text-align: start;
}

.hotels-result span {
  margin-left: 8px;
}

.hotels-select,
.view {
  font-size: 18px;
  line-height: 21px;
  background-color: var(--bg-primary-color);
  border: 2px solid var(--border-light-color);
  border-radius: 4px;
}

.hotels-select {
  padding: 12px 42px 12px 20px;
  flex-shrink: 0;
  width: 332px;
  color: var(--text-secondary-color);
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-size: 12px auto;
  background-position: right 17px center;
  appearance: none;
  cursor: pointer;
}

.display-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 160px;
  flex-shrink: 0;
}

.view {
  display: block;
  min-width: 48px;
  min-height: 48px;
  text-transform: none;
  color: var(--text-primary-color);
}

.view-current {
  border-color: var(--border-basic-color);
  pointer-events: none;
}

.view:hover,
.view:active {
  border-color: var(--border-basic-color);
}

.hotels-select:hover,
.hotels-select:focus,
.view:focus {
  outline: 2px solid var(--focus-outline-color);
  outline-offset: -2px;
}

.hotels-select:disabled,
.hotels-select:disabled:hover {
  border-color: var(--border-basic-color);
  opacity: 0.3;
  pointer-events: none;
}

.view-table {
  background-image: url("../images/icons/view-table.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

.view-slideshow {
  background-image: url("../images/icons/view-slideshow.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

.view-list {
  background-image: url("../images/icons/view-list.svg");
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: center;
}

/* Каталог гостиниц, отобранных по фильтрам */
.hotels-list {
  margin: 0;
  margin-bottom: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  box-shadow: 0 1px 0 0 var(--shadow-middle-color);
}

.hotel-card {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  text-align: start;
  color: var(--text-secondary-color);
  box-shadow: 0 0 0 1px var(--shadow-middle-color);
  border-radius: 4px;
}

.hotel-card-link {
  grid-column: 1 / -1;
}

.hotel-card-link-title {
  grid-row: 2 / 3;
}

.hotel-card-link-title:hover .card-title {
  color: var(--hover-color);
}

.hotel-card-link-title:active .card-title {
  color: var(--active-rgba30-color);
}

.hotel-card-link-image {
  font-size: 0;
  line-height: 0;
}

.hotel-card-link-image:hover {
  opacity: 0.8;
}

.card-title,
.hotel-card-type,
.hotel-card-price {
  margin: 0;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-primary-color);
}

.hotel-card-type,
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  text-align: end;
}

.hotel-card-price b {
  font-weight: inherit;
}

.hotel-card .button {
  padding: 8px;
  align-self: center;
}

.stars {
  margin: 0;
  align-self: center;
}

.stars::before {
  content: "";
  display: block;
  height: 17px;
  background-image: url("../images/icons/star.svg");
  background-repeat: space no-repeat;
  background-size: contain;
}

.five-stars:before {
  width: 109px;
}

.four-stars:before {
  width: 86px;
}

.three-stars:before {
  width: 63px;
}

.two-stars:before {
  width: 40px;
}

.one-star:before {
  width: 17px;
}

.rating-result {
  margin: 0;
  padding: 8px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: var(--bg-ultralight-color);
  border-radius: 4px;
}

/* Пагинация */
.pagination {
  margin: 0 0 60px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link,
.pagination-more {
  padding: 12px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-link {
  font-weight: 700;
  line-height: 36px;
  color: var(--text-on-bg-color);
  background-color: var(--button-bg-secondary);
}

.pagination-more {
  font-weight: 400;
  line-height: 26px;
  color: var(--text-primary-color);
  background-color: var(--bg-transparent);
}

.pagination-current {
  color: var(--text-primary-color);
  background-color: var(--bg-ultralight-color);
  pointer-events: none;
}

.pagination-link:hover,
.pagination-link:focus:not(.pagination-current) {
  background-color: var(--hover-button-bg-secondary-color);
}

.pagination-link:active {
  color: var(--text-on-bg-rgba30-color);
}
